
.player {
  background: rgba(255, 198, 243, 0.7);
  padding: 45px;
  border-radius: 10px;
  display: inline-block;
  justify-content: center;
  justify-items: center;
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;
}



button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background: #080000;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #ffc6f3;
  color: #080000;
}

.controls {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.progress-bar {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background: #ccc;
  outline: none;
  margin-top: 20px;
}


.progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  background: #080000;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -3px;
}

.progress-bar::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background: #080000;
  border-radius: 50%;
  cursor: pointer;
}

.progress-bar::-ms-thumb {
  width: 14px;
  height: 14px;
  background: #080000;
  border-radius: 50%;
  cursor: pointer;
}
.album-art {
  display: flex;
  justify-self: center;
  width: 100%;
  max-width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}
